### 1. Reverse a list.

In [2]:
li = [23,1,2,5,67,97,4,35]
new_li = []
length = len(li)
for i in range(length):
    new_li.append(li[length-1-i])
new_li

[35, 4, 97, 67, 5, 2, 1, 23]

### 2. Concatenate two lists index-wise.

In [3]:
list1 = ["W", "wi", "Dre", "b"]
list2 = ["e", "ll", "am", "ig"]
new_li = []
length = len(list1)
for i in range(length):
    new_li.append(list1[i]+list2[i])
    
new_li

['We', 'will', 'Dream', 'big']

### 3. Turn every number of a list into its square.

In [4]:
li = [23,1,2,5,67,97,4,35]
result = list(map(lambda x: x*x, li))
result

[529, 1, 4, 25, 4489, 9409, 16, 1225]

### 4. Remove empty strings from the list of strings.

In [11]:
string = ["Code", " ", "Studio", "Academy", " "]
new_li = []
for x in string:
    if " " not in x:
        new_li.append(x)
new_li

['Code', 'Studio', 'Academy']

### 5.  Add a list of elements to a set.

In [12]:
set_ = {"Yellow", "Orange", "Black"} 
list_ = ["Blue", "Green", "Red"]
set_.update(list_)
set_

{'Black', 'Blue', 'Green', 'Orange', 'Red', 'Yellow'}

### 6. Return a set of elements present in Set A or B, but not both.

In [6]:
listA = {23,"Orange",2,5,67,"Black","Green",35}
listB = {"Blue",67,"Green","Red",35,23,"Orange","Yellow"}
result = list(listA ^ listB)
print(result)

[2, 'Blue', 5, 'Yellow', 'Red', 'Black']

### 7. Convert two lists into a dictionary.

In [8]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

result = {i:d for i,d in zip(keys,values)}
result

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

### 8. Merge two Python dictionaries into one.

In [7]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30} 
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict1.update(dict2)
dict1

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

### 9. Rename a key of a dictionary.

In [10]:
student = {"name": "Mehedi", "Age": 25, "Hometown": "Bogura"}
student["NAME"]=student.pop("name")
student

{'Age': 25, 'Hometown': 'Bogura', 'NAME': 'Mehedi'}

### 10. Sort a tuple of tuples by 2nd item.

In [11]:
tup = ({'name': 'Alice', 'age': 25},{'name': 'Bob', 'age': 20},{'name': 'Charlie', 'age': 30})
result = sorted(tup, key=lambda x: x['age'])

print(result)

[{'name': 'Bob', 'age': 20}, {'name': 'Alice', 'age': 25}, {'name': 'Charlie', 'age': 30}]